<% wrap_admin_form do -%>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, :class => 'text' %>
    <%= errors_on(:gallery, :name) %>
  </div>
  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>
<% end -%>
