<% unless params[:preview] == 'yup' -%>
<h1 class="posts icon"><%= @post.name %></h1>
<% end -%>
<%= form_for(:post, @post, :html => {:method => :put}, :url => grandstand_post_path(@post)) do |form| %>
  <%= render :partial => 'form', :locals => {:form => form} %>
  <div class="toolbar">
    <%= button 'Save' %>
    <%= button_link_to('Cancel', return_path || grandstand_posts_path, :class => 'cancel') %>
  </div>
<% end =%>
