<%= render :partial => 'left' %>
<h1 class="posts icon">
  <%= @post.name %>
  <%= button_link_to('Edit', edit_grandstand_post_path(@post), :icon => 'edit') %>
  <%= button_link_to('Delete', delete_grandstand_post_path(@post), :class => 'remote', :icon => 'delete') %>
</h1>
<div class="quiet"><%= link_to url = post_url(@post.created_at.year, @post.created_at.month, @post.url), url %></div>
<%= raw @post.body %>
