<% content_for :head do -%>
  <%= stylesheet_link_tag '/grandstand/stylesheets/wysiwyg.css' %>
<% end -%>
<% wrap_grandstand_form do -%>
  <!-- <div class="field">
    <%= form.label :parent_id %>
    <%#= form.collection_select :parent_id, Grandstand::Page.tree, :id, :tree_name %>
  </div> -->
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, :class => 'oversized text' %>
    <%= form.errors_on :name %>
  </div>
  <div class="tabset">
    <ul class="tabs">
    <%= form.fields_for :page_sections do |page_section_form| %>
    <% page_section_id = page_section_form.object.id || page_section_form.object.object_id -%>
      <li>
        <a href="#page-section-<%= page_section_id %>"><%= page_section_form.object.section.try(:titleize) %></a>
        <%= page_section_form.hidden_field :section %>
      </li>
      <% content_for :page_sections do -%>

    <div class="page-section" id="page-section-<%= page_section_id %>">
      <%= page_section_form.text_area :content, :class => :wysiwyg %>
    </div>
    <% end -%>
    <% end =%>
    </ul>
    <%= yield :page_sections %>
  </div>
<% end -%>
