<% wrap_grandstand_form do -%>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, :class => 'text' %>
    <%= form.errors_on(:name) %>
  </div>
  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>
<% end -%>
