<% galleries.each do |gallery| -%>
<div class="inset gallery container" id="galleries_<%= gallery.url %>">
  <div class="header">
    <div class="float-left gallery icon">
      <%= (gallery.name) %>
    </div>
    <div class="float-right">
      <%= link_to '', edit_grandstand_gallery_path(gallery), :class => 'edit icon remote' %>
      <%= link_to '', delete_grandstand_gallery_path(gallery), :class => 'delete icon remote' %>
    </div>
  </div>
  <%= link_to(image_tag(gallery.cover_image.file.url(:grandstand_medium)), grandstand_gallery_path(gallery)) %>
  <% gallery.images.limit(100).each do |image| -%>
  <%= image_tag(image.file.url(:grandstand_medium)) %>
  <% end -%>
</div>
<% end -%>