<% content_for :title do %>
  <%= button_link_to('Edit', edit_grandstand_gallery_path(@gallery), :class => 'remote', :icon => 'edit') %>
  <%= button_link_to('Delete', delete_grandstand_gallery_path(@gallery), :class => 'remote', :icon => 'delete') %>
  <% if Grandstand.multiple_upload -%>
  <%= button_link_to('Add Images', upload_grandstand_gallery_images_path(@gallery), :class => 'remote', :icon => 'add') %>
  <% else -%>
  <%= button_link_to('Add An Image', new_grandstand_gallery_image_path(@gallery), :class => 'remote', :icon => 'add') %>
  <% end -%>
<% end %>
<h2><%= @gallery.name %></h2>
<% if @gallery.images.empty? -%>
<div class="pad">
  <h3>You haven't uploaded any images!</h3>
  <%= button_link_to('Add an Image', new_grandstand_gallery_image_path(@gallery), :class => 'remote', :icon => :add) %>
</div>
<% else -%>
<div class="images sortable">
  <%= render :partial => 'gallery', :locals => {:gallery => @gallery, :editable => true} %>
</div>
<% end -%>
