<% wrap_grandstand_form do -%>
  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name, :class => 'half oversized text' %>
    <%= form.text_field :last_name, :class => 'half oversized text' %>
    <%= form.errors_on :first_name %>
  </div>
  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, :class => 'text' %>
  </div>
  <div class="field">
    <%= form.label :password, @user.new_record? ? nil : 'New password' %>
    <%= form.password_field :password, :autocomplete => 'off', :class => 'text' %>
  </div>
  <div class="field">
    <%= form.label :password_confirmation, 'Password (again!)' %>
    <%= form.password_field :password_confirmation, :autocomplete => 'off', :class => 'text' %>
  </div>
<% end -%>
