<%= render :partial => 'left' %>
<h1 class="users icon"><%= @user.name %> <%= button_link_to('Edit', edit_admin_user_path(@user), :class => 'remote', :icon => 'edit') %></h1>
<% unless @user.posts.empty? -%>
<h2>Blog Posts</h2>
<%= render :partial => 'admin/posts/list', :locals => {:posts => @user.posts} %>
<% end -%>
<% unless @user.galleries.empty? -%>
<h2>Galleries</h2>
<div class="galleries">
  <%= render :partial => 'admin/galleries/list', :locals => {:galleries => @user.galleries} %>
</div>
<% end -%>
