<% wrap_grandstand_form do -%>
  <div class="field">
    <%= form.label :file %>
    <%= form.file_field :file %>
    <%= form.errors_on(:file) %>
  </div>
  <div class="field">
    <%= form.label :caption %>
    <%= form.text_area :caption %>
  </div>
<% end %>
