<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
  "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <title>Grandstand Admin</title>
  <%= javascript_include_tag('/admin/javascripts/jquery', '/admin/javascripts/application') %>
  <%= stylesheet_link_tag('/admin/stylesheets/global', '/admin/stylesheets/application') %>
  <%= csrf_meta_tag %>
  <%= yield :head %>
</head>
<%
# sections = Hash[:left, yield(:left), :right, yield(:right)]
# classes = sections.keys.select {|key| !sections[key].blank? }
%>
<body class="admin">
  <%= render :partial => 'admin/shared/flash', :locals => {:flash => flash} %>
  <div id="header">
    <div class="float-left">
      <%= link_to(image_tag('/admin/images/logo.png', :alt => Grandstand.app_name), admin_root_path, :id => 'logo') %>
    </div>
    <div class="float-right">
      <%= link_to('View Site', '/', :target => :new) %>
      <%= link_to('Logout', admin_session_path, :method => :delete) %>
    </div>
  </div>
  <div id="content">
    <div id="left">
      <%= yield :left %>
      <ul>
        <li<%= expand(:posts, :class => 'first') %>>
          <%= expand_link(:posts) unless no_posts = Post.count.zero? %>
          <%= link_to('Blog Posts', admin_posts_path) %>
          <% unless no_posts -%>
          <ul>
            <% Post.limit(10).each do |post| -%>
            <li><%= link_to(post.name, admin_post_path(post)) %></li>
            <% end -%>
          </ul>
          <% end -%>
        </li>
        <li<%= expand(:galleries, :images) %>>
          <%= expand_link(:galleries) unless no_galleries = Gallery.count.zero? %>
          <%= link_to('Galleries', admin_galleries_path) %>
          <% unless no_galleries -%>
          <ul>
            <% Gallery.limit(10).each do |gallery| -%>
            <li><%= link_to(gallery.name, admin_gallery_path(gallery)) %></li>
            <% end -%>
          </ul>
          <% end -%>
        </li>
        <% if false -%>
        <li<%= expand(:pages) %>>
          <%= expand_link(:pages) %>
          <%= link_to('Pages', admin_pages_path) %>
          <% unless Page.roots.count.zero? -%>
          <ul>
            <% Page.roots.limit(10).each do |page| -%>
            <li><%= link_to(page.name, admin_page_path(page)) %></li>
            <% end -%>
          </ul>
          <% end -%>
        </li>
        <% end -%>
        <li class="last">
          <%= link_to('Users', admin_users_path) %>
        </li>
      </ul>
    </div>
    <div id="main">
      <%= yield %>
    </div>
  </div>
  <div id="footer">
  </div>
  <div id="cover" style="display:none;"></div>
  <div id="pulldown" style="display:none;"></div>
</body>
</html>
