<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
  "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <title><% if current_page %><%= current_page.title %> - <% end %>Grandstand</title>
  <%= javascript_include_tag('/admin/javascripts/jquery', '/admin/javascripts/application') %>
  <%= stylesheet_link_tag('/admin/stylesheets/global', '/admin/stylesheets/login') %>
</head>
<body class="admin">
  <%= render :partial => 'admin/shared/flash', :locals => {:flash => flash} %>
  <%= link_to(image_tag('/admin/images/logo.png', :alt => Grandstand.app_name), admin_root_path, :id => 'logo') %>
  <div class="inset" id="login">
    <%= yield %>
  </div>
</body>
</html>
