<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
  "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <title>Grandstand Admin</title>
  <%= javascript_include_tag('/grandstand/javascripts/jquery', '/grandstand/javascripts/application') %>
  <%= stylesheet_link_tag('/grandstand/stylesheets/application') %>
  <%= csrf_meta_tag %>
  <%= yield :head %>
</head>
<body class="grandstand">
  <%= render :partial => 'grandstand/shared/flash', :locals => {:flash => flash} %>
  <h1 id="logo"><%= link_to('Grandstand', grandstand_root_path) %></h1>
  <ul id="menu">
    <li id="posts"><%= link_to 'Posts', grandstand_posts_path, active_on(:controller => :posts) %></li>
    <li id="galleries"><%= link_to 'Galleries', grandstand_galleries_path, active_on(:controller => %w(galleries images)) %></li>
    <li id="pages"><%= link_to 'Pages', grandstand_pages_path, active_on(:controller => :pages) %></li>
    <li id="users"><%= link_to 'Users', grandstand_users_path, active_on(:controller => :users) %></li>
  </ul>
  </div>
  <div id="content">
    <% unless (title = yield(:title)).blank? -%>
    <div id="toolbar">
      <%= title %>
    </div>
    <% end -%>
    <%= yield %>
    <div id="footer">
      <%= render :partial => 'grandstand/shared/footer' %> |
      <%= link_to('View Site', '/', :class => 'external') %> |
      <%= link_to('Logout', grandstand_session_path, :method => :delete) %>
    </div>
  </div>
  <div id="cover" style="display:none;"></div>
  <div id="dialog" style="display:none;"></div>
</body>
</html>
